<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if @current_user != nil %>
        <span> Current user: </span>
        <%= @current_user.name %> <br>
        <%= link_to  "Sign in as new user ---   ", '/login' %>
        <%= link_to  "Create new event   ---  ", new_event_path %>
        <%= link_to  "See all User events ---   ", user_path(@current_user) %>
      <% end %>

      <%= link_to  "Events List", events_path %>


    </nav>


    <%= yield %>
  </body>
</html>
